<br>
<br>
<br>
<br>

<footer class="footer">
    <div class = "container-fluid">
        <nav class="footer-nav">
            <div class="footer-container">

                <div class="footer-logo">
                    <!-- <h2>Elite Product</h2> -->
                    <img class="img-footer" src="/images/logo.png" width="200" height="200">
                </div>

                <div class="navlinks">
                    <div class="navlinks-heading" style="font-weight:bolder;">
                        <h2>Quick Links</h2>
                    </div>

                    <div class="navlinks-home">
                        <h4><a href="/">Home</a></h4>
                    </div>

                    <div class="navlinks-signIn">
                        <h4><a href="/users/signin">Sign In</a></h4>
                    </div>

                    <div class="navlinks-register">
                        <h4><a href="/users/register">Register</a></h4>
                    </div>

                    <div class="navlinks-contact">
                        <h4><a href="/contact">Contact</a></h4>
                    </div>
                </div>

                <div class="social">
                    <!-- Facebook -->
                    <div>
                        <a style="color: #3b5998;" href="#!" role="button"><i class="fab fa-facebook-f fa-lg"></i></a>
                    </div>
                    <!-- Twitter -->
                    <div>
                        <a style="color: #55acee;" href="#!" role="button"><i class="fab fa-twitter fa-lg"></i></a>
                    </div>
                    <!-- Instagram -->
                    <div>
                        <a style="color: #ac2bac;" href="#!" role="button"><i class="fab fa-instagram fa-lg"></i></a>
                    </div>
                    <!-- Youtube -->
                    <div>
                        <a style="color: #ed302f;" href="#!" role="button"><i class="fab fa-youtube fa-lg"></i></a>
                    </div>
                    <h3>&copy; Elite Product All Rights Reserved</h3>
                </div>

                <div class="newsletter">
                    <p class="newsletter-text">Subscribe to Elite Product Weekly for exclusive deals and coupons</p>
                    
                    <div class="text-input">
                        <form action="">
                        <input type="text" placeholder="Enter email address">
                        <button type="submit" class="subscribe-button"> SUBSCRIBE </button>
                        </form>
                    </div>
                
                </div>
            </div>

            <div class="bottom-line">
                <p> 2022 &copy; All rights reserved. COMP229-003 - Group Project</p>
            </div>
        </nav>
    </div>
            
    
</footer>

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    var getTitle = "<%= title %>";
</script>
<script src="/javascripts/appclient.js"></script>    
