<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/header.css">
  
</head>


<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/images/logo.png" alt="logo" style="width:40px;" class="d-inline-block align-top" alt="">
        Elite Product
      </a>
      <!-- <a class="navbar-brand" href="#">Elite Product</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Product Category
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>

      <div class="container">
        <form action="">
        <input type="text" placeholder="Search for anything..." name="searchbar">
        <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <div class="topnav-postAd">
        <a href="/users/signin" class="btn btn-sm btn-info" style="width:200px; height: 40px; font-size:x-large; background-color: gray;" name="postAd"></i>Post Ad</a>
      </div>

    </div>
  </nav>



  <!-- <nav class="navbar navbar-dark bg-dark">
    <div class="topnav-container">
      <a class="navbar-brand" href="#">
        <img src="/images/logo.jpg" alt="logo" style="width:40px;">
      </a>
      <a class="navbar-brand">Elite Product</a>
      <div class="topnav-search">
        <form action="">
          <input type="text" placeholder="Search for anything..." name="searchbar">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      
    </div> -->
    
    <!-- <div class="topnav-search">
      <form action="">
      <input type="text" placeholder="Search for anything..." name="searchbar">
      <button type="submit"><i class="fa fa-search"></i></button>
      </form>
      <h4><span><a href="/users/register">Register</a></span> or </h4> 
      <% if (typeof userName == 'string' && userName) { %>
        <a href="/users/signout" onclick="return confirm('Are you sure?')">Sign-Out</a>
      <% } else { %>
        <a href="/users/signin">Sign In</a>
      <% } %> 
      <div class="topnav-postAd">
        <a href="/users/signin" class="btn btn-sm btn-info" name="postAd"></i>Post ad</a>
      </div>
    </div> -->
    
  <!-- </nav> -->

  <!-- Main Nav bar    -->
  <!-- <div class="topnav">
    <div class="topnav-container"> -->

      <!-- logo -->
      <!-- <div class="topnav-logo">
        <a class="navbar-brand" href="#">
            <img src="/images/logo.jpg" alt="logo" style="width:40px;">
        </a>
      </div> -->

      <!-- search (UPDATE FORM ACTION)-->
      <!-- <div class="topnav-search">
        <form action="">
        <input type="text" placeholder="Search for anything..." name="searchbar">
        <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div> -->

      <!-- register link -->
      <!-- <div class="topnav-register">
        <h4><span><a href="/users/register">Register</a></span> or </h4> 
      </div> -->

      <!-- signin link -->
      <!-- <div class="topnav-signIn">
        <% if (typeof userName == 'string' && userName) { %>
          <a href="/users/signout" onclick="return confirm('Are you sure?')">Sign-Out</a>
        <% } else { %>
          <a href="/users/signin">Sign In</a>
        <% } %>            
      </div> -->

      <!-- post ad button -->
      <!-- <div class="topnav-postAd">
        <a href="/users/signin" class="btn btn-sm btn-info" name="postAd"></i>Post ad</a>
      </div>

    </div>
  </div> -->

  <!-- <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <h4><span><a href="/users/register">Register</a></span> or </h4>
          </li>
          <li class="nav-item">
            <% if (typeof userName == 'string' && userName) { %>
              <a href="/users/signout" onclick="return confirm('Are you sure?')">Sign-Out</a>
            <% } else { %>
              <a href="/users/signin">Sign In</a>
            <% } %>        
          </li>
        </ul>
      </div>  -->

<br>
<br>
<br>