<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>


<body>

  <!-- Main Nav bar  -->  
  <div class="topnav">
    <div class="topnav-container">

      <!-- logo -->
      <div class="topnav-logo">
        <a class="navbar-brand" href="#">
            <img src="/images/logo.jpg" alt="logo" style="width:40px;">
        </a>
      </div>

      <!-- search (UPDATE FORM ACTION)-->
      <div class="topnav-search">
        <form action="">
        <input type="text" placeholder="Search for anything..." name="searchbar">
        <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>

      <!-- register link -->
      <div class="topnav-register">
        <h4><span><a href="/users/register">Register</a></span> or </h4> 
      </div>

      <!-- signin link -->
      <div class="topnav-signIn">
        <% if (typeof userName == 'string' && userName) { %>
          <a href="/users/signout" onclick="return confirm('Are you sure?')">Sign-Out</a>
        <% } else { %>
          <a href="/users/signin">Sign In</a>
        <% } %>            
      </div>

      <!-- post ad button -->
      <div class="topnav-postAd">
        <a href="/users/signin" class="btn btn-sm btn-info" name="postAd"></i>Post ad</a>
      </div>

    </div>
  </div>

<br>
<br>
<br>