@media screen and (min-width: 960px) 
{ 
  .footer, .topnav { 
    height: 45vh; 
  } 
}

/* footer-container is a nested grid within the footer, with 7 columns */
.topnav-container { 
    grid-column: 2 / 3;
    display: grid; 
    
    /* ACTING AS A GRID CONTAINER */ 
    grid-template-columns: 15% 45% 10% 10% 10% 10%; 
    grid-template-areas: "logo search . register signIn postAd";
  }

  .container-fluid{
    background: #000; 
  }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    padding: 4em 0; 
  display: grid; 
  /*grid-template-columns: 7vw 1fr 7vw; */
  grid-template-rows: auto auto; 
  background: #000; 
  }
  .footer-container { 
    grid-template-columns: 1fr; 
    grid-template-areas: "logo" "newsletter" "social" "navigation"; 
  } 
  
  .footer-logo, .social { 
    justify-self: center; 
    align-self: center; 
  } 


  /* footer-container is a nested grid within the footer, with 3 columns and 2 rows */
  .footer-container { 
    grid-column: 2 / 3;
    display: grid; 
    
    /* ACTING AS A GRID CONTAINER */ 
    grid-template-columns: 1fr 1fr 2fr; 
    grid-template-rows: auto auto; 
    grid-template-areas: "logo . navigation" "social . newsletter";
  }

  /* LOGO */
.footer-logo img{
    height:70px;
    width: 70px;
    float:left;
  }
  .footer-logo { 
    grid-area: logo;
    align-self: start; 
  } 

  /* NAVLINKS */
.navlinks { 
    grid-area: navigation; 
    align-self: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    /* grid-auto-rows: minmax(100px, auto);  */
  } 
  .navlinks-heading{
    grid-column: 1 / 5;
    grid-row: 1;
  }
  .navlinks-home{
    grid-column: 1 / 2;
    grid-row: 2;
  }
  .navlinks-signIn{
    grid-column: 2 / 3;
    grid-row: 2;
  }
  .navlinks-register{
    grid-column: 3 / 4;
    grid-row: 2;
  }
  .navlinks-contact{
    grid-column: 4 / 5;
    grid-row: 2;
  }
  
  /* SOCIAL */
.social 
{ 
  grid-area: social;
  align-self: end;
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  justify-items: center; 
  width: 100%;

  border-bottom: 2px solid gray; 
}
.social h3 { 
  grid-column: 1 / 5; 
  grid-row: 2;
} 
.social > div{
  padding: 5px;
  grid-row: 1;
}
.facebook { 
  justify-self: right;
  grid-row: 1; 
} 
.instagram { 
  justify-self: left;
  grid-row: 1; 
}

/* NEWSLETTER */
.newsletter { 
    grid-area: newsletter; 
    align-self: end; 
  }
  .newsletter-text{ 
    margin: 0 0 1.1rem; 
    line-height: 2rem; 
    text-align: center;
  }
  .text-input { 
    text-align: center;
    float: bottom; 
  } 
  .newsletter input[type=text]{
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }



  .newsletter .text-input button:hover {
    background: #ccc;
  }
  
  /* .text-input input { 
    border-radius: 0; 
  }  */
  
  .footer a { 
    color: white; 
  } 

  /* BOTTOM-LINE */
.bottom-line { 
    background-color: #444554; 
    color: #fff;
    float: bottom;
  }

  .bottom-line p { 
    margin-left: 2%;
  }